<a href="https://colab.research.google.com/github/ASMT-College/lab1-data-pre-processing-Sujan070/blob/main/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

print("Sujan Simkhada\n Symbol no:29127")
df = pd.read_csv('employee_data.csv')
print("Initial Data:\n", df.head())
df['Age'].fillna(df['Age'].mean())
df['Salary'].fillna(df['Salary'].mean())

df['Department'] = df['Department'].replace({
    'Human Resources': 'HR',
    'H.R.': 'HR',
    'hr': 'HR'
 })

df.drop_duplicates(subset='ID', keep='first', inplace=True)
print("\nCleaned Data:\n", df.head())

Sujan Simkhada
 Symbol no:29127
Initial Data:
    ID     Name   Age       Department   Salary
0   1     John  28.0               HR  50000.0
1   2     Jane  35.0          Finance  60000.0
2   3    Emily   NaN               HR  55000.0
3   4  Michael  40.0  Human Resources      NaN
4   5    Sarah  29.0               IT  52000.0

Cleaned Data:
    ID     Name   Age Department   Salary
0   1     John  28.0         HR  50000.0
1   2     Jane  35.0    Finance  60000.0
2   3    Emily   NaN         HR  55000.0
3   4  Michael  40.0         HR      NaN
4   5    Sarah  29.0         IT  52000.0

In [4]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
print("Sujan Simkhada\n Symbol no:29127")
df = pd.read_csv('student_scores.csv')
print("Initial Data:\n", df.head())

scaler = MinMaxScaler()
df[['Math', 'Science', 'English']] = scaler.fit_transform(df[['Math', 'Science', 'English']])
print("\nNormalized Scores:\n", df.head())

Sujan Simkhada
 Symbol no:29127
Initial Data:
    StudentID  Math  Science  English
0          1    78       65       80
1          2    88       75       85
2          3    60       50       55
3          4    90       78       92
4          5    55       48       58

Normalized Scores:
    StudentID      Math  Science   English
0          1  0.657143  0.53125  0.675676
1          2  0.942857  0.84375  0.810811
2          3  0.142857  0.06250  0.000000
3          4  1.000000  0.93750  1.000000
4          5  0.000000  0.00000  0.081081

In [6]:
import pandas as pd
print("Sujan Simkhada\n Symbol no:29127")
df = pd.read_csv('customer_ages.csv')
print("Initial Data:\n", df.head())

bins = [18, 30, 50, 100]
labels = ['Young', 'Middle-aged', 'Senior']
df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)
print("\nData after Binning:\n", df.head())

age_group_distribution = df['AgeGroup'].value_counts()
print("\nAge Group Distribution:\n", age_group_distribution)

Sujan Simkhada
 Symbol no:29127
Initial Data:
    CustomerID  Age
0           1   25
1           2   42
2           3   36
3           4   53
4           5   28

Data after Binning:
    CustomerID  Age     AgeGroup
0           1   25        Young
1           2   42  Middle-aged
2           3   36  Middle-aged
3           4   53       Senior
4           5   28        Young

Age Group Distribution:
 AgeGroup
Middle-aged    7
Young          5
Senior         3
Name: count, dtype: int64

In [8]:
import pandas as pd
print("Sujan Simkhada\n Symbol no:29127")

df = pd.read_csv('sales_data.csv')
print("Initial Data:\n", df.head())

bins = [0, 5000, 20000, float('inf')]
labels = ['Low', 'Medium', 'High']
df['SalesCategory'] = pd.cut(df['Sales'], bins=bins, labels=labels)
print("\nData after Discretization:\n", df.head())

sales_category_distribution = df['SalesCategory'].value_counts()
print("\nSales Category Distribution:\n", sales_category_distribution)

Sujan Simkhada
 Symbol no:29127
Initial Data:
       Month  Sales
0   January  15000
1  February  18000
2     March  12000
3     April  30000
4       May  22000

Data after Discretization:
       Month  Sales SalesCategory
0   January  15000        Medium
1  February  18000        Medium
2     March  12000        Medium
3     April  30000          High
4       May  22000          High

Sales Category Distribution:
 SalesCategory
Medium    7
High      4
Low       1
Name: count, dtype: int64

In [9]:
import pandas as pd
from sklearn.feature_selection import SelectKBest, chi2
print("Sujan Simkhada\n Symbol no:29127")
df = pd.read_csv('medical_data.csv')
print("Initial Data:\n", df.head())

X = df.drop(columns=['Disease'])
y = df['Disease']

selector = SelectKBest(score_func=chi2, k=3)
selector.fit(X, y)

top_features = X.columns[selector.get_support()]
print("\nTop 3 Features for Predicting Disease:\n", top_features)

Sujan Simkhada
 Symbol no:29127
Initial Data:
    PatientID  Age  BloodPressure  Cholesterol  Glucose  HeartRate  Disease
0          1   45            130          180       95         70        1
1          2   50            140          200      105         75        1
2          3   60            150          240      120         80        1
3          4   40            120          170       90         65        0
4          5   35            110          160       85         60        0

Top 3 Features for Predicting Disease:
 Index(['Age', 'Cholesterol', 'Glucose'], dtype='object')